* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    overflow: hidden;
    background-color: #0c2f5a;
    padding: 20px 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
    position: fixed;
    top: -10px;
    left: 0px;
    right:0px;
}
  .header a{
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
  }
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
a.active:hover {
  background-color: #ffffff;
  color: hsl(0, 100%, 50%);
  border-radius: 50px;
}
.header-right {
  float: right;
  padding: 0 500px 0 0;
}
.login {
  position: relative;
  left: 1150px;
}
@media screen and (max-width: 500px){
.header a {
    float: auto;
    display: block;
    text-align: left;
  }
  .header-right {
    float: auto;
  }}
body{
    background-image: url(arogya.png);
    background-size: 35%;
    background-position-x: right;
    background-repeat: no-repeat;
    background-position: 940px 130px;
}
section{
    margin: 160px 180px;
}
span.emphasis{
  font-size: 350%;
  font-weight: 600;
  color: #0c2f5a;
  text-shadow: 0 5px 7px rgba(0,0,0,0.5);
}
span.nonemphasis{
  font-size: 350%;
  font-weight: 600;
  text-shadow: 0 5px 7px rgba(0,0,0,0.2);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 140%;
    padding-top: 40px;
    color: rgba(17, 2, 77, 0.8);
    font-weight: 550;
}
ul{
    padding-left: 20px;
}
button{
  width:250px;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 20px;
  background-color: rgba(6, 18, 75, 0.9);
  color: white;
  box-shadow: 0 5px 7px rgba(0,0,0,0.6);
  transition: 0.5s;
}
button:hover{
  box-shadow:0 5px 9px #0c2f5a;
  background-color: rgba(96, 120, 173, 0.5);
  color: #0c2f5a;
  border-radius: 30px;
}
div.foot{
  background-color: #7796bc;
  box-shadow: 40px 0px 15px rgba(0,0,0,0.7);
}
ul.foot li{
  color:white;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}
ul.foot2 li{
  color:rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
* {
  font-family: Open Sans;
}
.footer-distributed{
  background: #ebf3fb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left{
  width: 40%;
}
.footer-distributed h3{
  color:  #000000;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}
.footer-distributed h3 span{
  color:  lightseagreen;
}
.footer-distributed .footer-links{
  color:  #1d1d1d;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}
.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center{
  width: 34%;
}
.footer-distributed .footer-center i{
  background-color:  #d9d9d9;
  color: #f200ff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p{
  display: inline-block;
  color: #000000;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:11px;
  line-height:2;
}
.footer-distributed .footer-center p a{
  color:  rgb(0, 0, 0);
  text-decoration: none;;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 18px;
  left: 0;
  color: #ff0000;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right{
  width: 18%;
}
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #000000;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: linear-gradient(transparent, #0062ff);
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
  background: linear-gradient(#ff0000, transparent);
  transition: 0.9s;
}